Repository hmcts/div-evidence-management-client-api, pull requests merged in 2019-08, with the labels that each got.

#111 UpdateToJacksonDatabind-2.9.9.3
  build.gradle
Labels: ns:div-emca-pr-111

#115 DIV-5378 - improved integration tests logging
  .gitignore
  README.md
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/emclient/EMClientFileDownloadTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/emclient/EMClientFileUploadTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/emclient/EvidenceManagementFileDeleteIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/emclient/IDAMUtils.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/emclient/IntegrationTest.java
  src/integrationTest/resources/application-local.properties
  src/integrationTest/resources/example-application-local.properties
  src/main/resources/example-application-aat.yml
Labels: ns:div-emca-pr-115

#116 DIV-5378 - Added Jenkins test_environment and refactored tests
  Jenkinsfile_CNP
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/emclient/EMClientFileDownloadTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/emclient/EMClientFileUploadTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/emclient/EvidenceManagementFileDeleteIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/emclient/IDAMUtils.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/emclient/IntegrationTest.java
Labels: ns:div-emca-pr-116
