Repository hmcts/div-evidence-management-client-api, pull requests merged in 2019-03, with the labels that each got.

#86 DIV-4409-added root controller with test
  Dockerfile
  build.gradle
  src/main/java/uk/gov/hmcts/reform/emclient/controller/RootController.java
  src/test/java/uk/gov/hmcts/reform/emclient/controller/RootControllerTest.java
Labels: ns:div-emca-pr-86

#87 Setup SAAT and SIDAM
  Jenkinsfile_CNP
  Jenkinsfile_parameterized
  build.gradle
  infrastructure/aat.tfvars
  infrastructure/main.tf
  infrastructure/output.tf
  infrastructure/preview.tfvars
  infrastructure/saat.tfvars
  infrastructure/sandbox.tfvars
  infrastructure/state.tf
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/emclient/EvidenceManagementFileDeleteIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/emclient/EvidenceManagementTestUtils.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/emclient/IDAMUtils.java
  src/integrationTest/resources/application-aat.properties
  src/integrationTest/resources/application-local.properties
  src/integrationTest/resources/application-preview.properties
  src/integrationTest/resources/application-saat.properties
  src/integrationTest/resources/application.properties
  src/kubernetes/config.aat.yaml
Labels: ns:div-emca-pr-87

#88 DIV 3997 update spring boot
  build.gradle
  dependency-check-suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/emclient/EMClientFileUploadTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/emclient/EvidenceManagementFileDeleteIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/emclient/ServiceContextConfiguration.java
  src/main/java/uk/gov/hmcts/reform/emclient/application/EvidenceManagementClientApplication.java
  src/main/java/uk/gov/hmcts/reform/emclient/errorhandler/GlobalErrorAttributes.java
  src/main/java/uk/gov/hmcts/reform/emclient/errorhandler/GlobalExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/emclient/idam/api/IdamApiClient.java
  src/main/java/uk/gov/hmcts/reform/emclient/service/EvidenceManagementUploadServiceImpl.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/reform/emclient/controller/EvidenceManagementClientControllerTest.java
  src/test/java/uk/gov/hmcts/reform/emclient/errorhandler/GlobalErrorAttributesTest.java
  src/test/java/uk/gov/hmcts/reform/emclient/errorhandler/GlobalExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/emclient/functional/EvidenceManagementDeleteFunctionalTest.java
  src/test/java/uk/gov/hmcts/reform/emclient/functional/HealthCheckFunctionalTest.java
  src/test/java/uk/gov/hmcts/reform/emclient/health/DefaultHttpEntityFactoryTest.java
  src/test/java/uk/gov/hmcts/reform/emclient/health/WebServiceHealthCheckTest.java
  src/test/java/uk/gov/hmcts/reform/emclient/idam/UserServiceTest.java
  src/test/java/uk/gov/hmcts/reform/emclient/insights/AppInsightsTest.java
  src/test/java/uk/gov/hmcts/reform/emclient/service/EvidenceManagementDeleteServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/emclient/service/EvidenceManagementUploadServiceImplTest.java
Labels: ns:div-emca-pr-88
