Repository hmcts/div-evidence-management-client-api, pull requests merged in 2020-11, with the labels that each got.

#227 TA-146 : Nightly Pipeline for div-em-client-api
  Jenkinsfile_nightly
  dependency-check-suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/emclient/EmClientFileDownloadTest.java
Labels: ns:divorce, prd:div, rel:div-emca-pr-227

#228 Ta 35 div em client consumer tests
  Jenkinsfile_CNP
  README.md
  build.gradle
  src/contractTest/java/uk/gov/hmcts/reform/divorce/emclient/EmClientConsumerTest.java
  src/contractTest/resources/application.yml
Labels: ns:divorce, prd:div, rel:div-emca-pr-228

#230 updated the broker url location - Fixing master build
  Jenkinsfile_CNP
Labels: ns:divorce, prd:div, rel:div-emca-pr-230

#231 adding missing library in jenkins library
  Jenkinsfile_CNP
Labels: ns:divorce, prd:div, rel:div-emca-pr-231
